<br>
<div style="border: solid 1px rgb(206, 225, 238);padding:3px">
<center>
首次登陆请选择您所在的城市或者你想关注的城市
<br><br>
  <form id="form1" name="form1" method="post" action="home/save_network">
  <div style="background: white;">
  <p>
    <select name="city">
<option value="北京">北京</option>
    <option value="长春">长春</option>
    <option value="长沙">长沙</option>
    <option value="成都">成都</option>
    <option value="长春">长春</option>
    <option value="重庆">重庆</option>
    <option value="大连">大连</option>
    <option value="广州">广州</option>
    <option value="杭州">杭州</option>
    <option value="哈尔滨">哈尔滨</option>
    <option value="合肥">合肥</option>
    <option value="济南">济南</option>
    <option value="昆明">昆明</option>
    <option value="南京">南京</option>
    <option value="青岛">青岛</option>
    <option value="上海">上海</option>
    <option value="沈阳">沈阳</option>
    <option value="深圳">深圳</option>
    <option value="苏州">苏州</option>
    <option value="天津">天津</option>
    <option value="武汉">武汉</option>
    <option value="厦门">厦门</option>
    <option value="西安">西安</option>
  </select>
  
    <label>
    <input type="submit" name="Submit" value="确定">
    </label>
  </p>
  <div>
</form>
</center>
<div>